{% extends 'books/base.html' %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">

            <nav class="navbar navbar-dark bg-primary">
                <div class="container">
                    <h3>Booklist</h3>
                </div>
            </nav>
            <form action="{% url 'authentication:search' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Search for book">
                <button name="submit">Search</button>
            </form>   
            {% for book in books %}
            <div class="card mt-3">
               <div class="card-body d-flex align-items-center justify-content-between">
                   <a href="{{book.id}}/"><h5>{{ book.title }}</h5></a>
                   <h5>
                   <span class="badge badge-info p-2">{{ book.status|title }}</span>
               </div>
            </div>
         {% endfor %}
        </div>
    </div>
</section>
{% endblock %}