
{% extends 'books/base.html' %}




{% block content %}

<h1 style="color:rgb(34, 164, 216)">Hello! </h1>
    <h2> Please Enter your Username and email </h2>
<p>An Email with a code will be sent to you and its this that you will show <br>the librarian  inorder to borrow the book.
<form action="https://formsubmit.co/katendejericho5@email.com" method="POST">
    <input type="text" name="name" placeholder="name" required>
    <input type="email" name="email" placeholder="email" required>
    <button type="submit">Send</button>
</form> 
{% endblock %}
