<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <style>
        body {
            background-image: url(/static/bg.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <center>

    <h1 style="background-color: powderblue;">WELCOME TO E-LIBRARY!</h1>
    <hr>
    <h3 style="background-color: rgba(176, 224, 230, 0.289);">Explore and borrow thousands of your favourite books </h3>
    <hr>
    {% csrf_token %}
    <!-- <button type="submit"><a href="/signup">SignUp</a></button> -->
    <!-- <button type="submit"><a href="/signin">SignIn</a><button> -->
    <button style="background-color: rgba(176, 224, 230, 0.459);" onclick="window.location='/signup'"> SignUp </button>  
    <button style="background-color: rgba(176, 224, 230, 0.312);" onclick="window.location='/signin'"> SignIn </button>  
    <!-- <button type="submit"><a href="{% url 'admin:index' %}">Admin</a><button> -->
    <button style="background-color: rgba(176, 224, 230, 0.413);" onclick="window.location={% url 'admin:index' %} "> Admin </button>  
</center>
<br>
<br>
<br>
<br>

<div class="footer">

<p style="background-color: rgba(13, 205, 230, 0.2);">Group 17</p>
<a style="color:rgb(19, 203, 235)"  href="mailto:elibraryug@gmail.com">CONTACT US</a></p>

</div>
</body>
</html>
