<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <title>signup</title>
</head>
<body>

    <h1 style="color:rgb(34, 164, 216)">Signup</h1>

    <form action="/signup" method="post">
    {% csrf_token %}
        <label for="username">Username</label>        <br> 

        <input type="text" id="username" name="username" placeholder="Create username" required>
        <br>

        <label for="fname">First name</label>        <br> 

        <input type="text" id="fname" name="fname" placeholder="Create first name" required>
        <br>
         

        <label for="lname">Last name</label>        <br> 

        <input type="text" id="lname" name="lname" placeholder="Create last name" required>
        <br>

        <label for="email">Email</label>         <br> 

        <input type="email" id="email" name="email" placeholder="Create email" required>
        <br>

        <label for="pass1">Password</label>         <br> 

        <input type="password" id="pass1" name="pass1" placeholder="Create password" required> 
        <br>

        <label for="pass2">Confirm password</label>         <br> 

        <input type="password" id="pass2" name="pass2" placeholder="Confirm password" required>
        <br>

        <label for="snum">Student number</label>        <br> 

        <input type="number" id="snum" name="snum" placeholder="Enter student number" required>
        <br> 

        <button onclick="window.location='/signup'"> SignUp </button>  

    </form>
    
</body>
</html>