<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Sign Up</h3>

    <form action="/signup" method="post">
    {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create a username (only letters)" required>
        <br>

        <label for="">First Name</label>
        <input type="text" id="fname" name="fname" placeholder="Create a fname (only letters)" required>
        <br>

        <label for="">Last Name</label>
        <input type="text" id="lname" name="lname" placeholder="Create a lname (only letters)" required>
        <br>

        <label for="">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Create an email (only letters)" required>
        <br>

        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Create a password (only letters)" required> 
        <br>

        <label for="">Confirm your password</label>
        <input type="password" id="pass2" name="pass2" placeholder="Confirm password (only letters)" required>
        <br>

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>